.form{
    padding: 5%;
    background-color: #9DF1DF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    margin: 0 30px;
}

.radio{
}

.button-submit{
    margin:5%;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}