.list-title{
    text-align: left;
    margin-left: 20px;
}

.list{
    border-radius: 10px;
}

.current-list{
    background-color: green;
  }
  
.second-list{
    background-color: red;
  }

.list-item{
    text-align: left;
    padding: 5px;
    position: relative;

}

.button-delete{
    border: 0;
    position: absolute;
    right:5px;
    /* border-radius: 10px; */
}