.list-title{
    text-align: left;
    margin-left: 20px;
}

.list{
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}

.current-list{
    background-color: #8DCBE6;
  }
  
.second-list{
    background-color: lightgray;
    color: gray;
  }

.list-item{
    text-align: left;
    padding: 5px;
    position: relative;

}

.button-delete{
    border: 0;
    position: absolute;
    right:5px;
    /* border-radius: 10px; */
}