.weather-update {
    display: flex;
    justify-content: space-around;
}

.weather-temperature {
    display: flex;
    color: rgba(255, 255, 255, 0.886);
    padding-top: 1.5rem;
    padding-left: 3rem;
    font-size: 5rem;
    /* font-family: "Roboto"; */
}

.weather-update {
    display: flex;
}

.weather-icon {
    display: flex;

    font-size: 7rem;
    /* padding-top: -5rem; */
    /* padding-top: 2rem; */
    /* padding-left: 3rem; */
    flex-direction: column;
}

.weather-message {
    /* display: flex; */

    font-size: 1.6rem;
    color: rgb(232, 246, 171);
    margin-top: -2rem;
}
