.weather-update {
    display: flex;
    justify-content: space-around;
}

.weather-update {
    display: flex;
}

.weather-temperature {
    display: flex;
    color: blue;
    margin: 0;
    font-size: 5rem;
    padding-top: 20px;
}


.weather-icon {
    display: flex;
    font-size: 7rem;
    flex-direction: column;
    margin: 0;
}

.weather-message {
    font-size: 1.6rem;
    color: rgb(232, 246, 171);
    margin: 0;
    margin-top: 15px;
}

.weather-true{
    color: #1342BA
}

.weather-false{
    color: #2D2F34
}