

.App {
  text-align: center;
  margin:0;
  padding: 20px;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
}

.app-true{
  background-color: #FFEA20;
}

.app-false{
  background-color: #E3F6FF;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


