.App {
  text-align: center;
  margin:0;
  padding: 20px;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: gray; */
}

/* .list.current-list{
  background-color: green;
}

.list .second-list{
  background-color: red;
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


